td
{
    padding:15px;
}
#container {
    display: flex;
    margin-left:150px;
}
#patient
{
    margin-left: 300px;
}
caption
{
    background-color: rgb(95, 138, 155);
    font-weight: bolder ;
    font-size: 20px;
    padding: 10px;
}
img
{
 padding-left: 50px;
}
tr
{
    background-color:rgb(192, 225, 238)
}
.foot
{
  font-size: 30px;
}
#footerdiv
{   /*position:absolute;  */
    bottom:0;
    width:100%;
    height: 130px;
    opacity: 1;
    background-image: url("space.jpg");
    background-repeat:repeat;
    padding-top: 15px;
    margin-top: 20px;
}


  
 